
.quiz {
  min-height: 100vh;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}


header {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 15px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

header div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header h3 {
  color: #4e73df;
  margin: 0;
  font-weight: 600;
}


main {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  transition: transform 0.3s ease;
}

main:hover {
  transform: translateY(-3px);
}

main div {
  font-size: 1.1rem;
  color: #333;
}





footer {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer button {
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-co;
  margin-left: 20px;
  
}